@import "globals";

div.Mainpage {
  display: flex;
  justify-content: space-between;
  height: 100%;

  
}
    .main-content {
      flex-grow: 1;
      margin: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

nav.main-menu {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  color: ghostwhite;
  height: 100%;

  a {
    color: ghostwhite;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
  }
}
div.whoops-404 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: ghostwhite;
    font-size: 1.5em;
  }